@import "tailwindcss";


/* @tailwind base;
@tailwind utilities; 
@tailwind components; */

@theme inline {
    --color-bg-1: var(--bg-1);
    --ff : var(font-family);
}

:root {
    --bg-1: #79B0E0;
    --bg-2: #79B0E0;
    --bg-3: #79B0E0;
    --bg-4: #79B0E0;
    --bg-5: #79B0E0;
    --bg-6: #79B0E0;
    --bg-7: #79B0E0;

    font-family: 'Marianne', sans-serif;

}



@font-face {
  font-family: "Marianne";
  src: url("./assets/fonts/marianne/Marianne-ExtraBold.otf") format("otf"),
       url("./assets/fonts/marianne/Marianne-ExtraBold.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}