@import "tailwindcss";


/* @tailwind base;
@tailwind utilities; 
@tailwind components; */

@layer utilities {
  .bg-sea-sand {
    background-image: var(--background-image-sea-sand);
  }
  .bg-blue-pink {
    background-image: var(--background-image-blue-pink);
  }
}


@theme inline {
    --color-bg-blue: var(--bg-blue);
    --color-bg-dark-blue: var(--bg-dark-blue);
    --color-bg-yellow: var(--bg-yellow);
    --color-bg-dark-yellow: var(--bg-dark-yellow);


    --color-bg-dark-grey: var(--bg-dark-grey);
    --color-bg-grey: var(--bg-grey);


    --background-image-sea-sand: linear-gradient(
      180deg,
      #2B49AD,
      #FFE18D
    );

    --background-image-blue-pink: linear-gradient(
      180deg,
      #82B0DC,
      #D5B4B9
    );

    --ff : var(font-family);
}



:root {
  --bg-blue: #79B0E0;
  --bg-dark-blue: #2B49AD;
  --bg-yellow: #FFE18D;
  --bg-dark-yellow  : #A76B0B;
  --bg-grey: #D9D9D9;
  --bg-dark-grey: #4D4A40;
  font-family: 'Marianne', sans-serif;

}


@font-face {
  font-family: "Marianne";
  public: url("./assets/fonts/marianne/Marianne-ExtraBold.otf") format("otf"),
       url("./assets/fonts/marianne/Marianne-ExtraBold.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}