@import "tailwindcss";


/* @tailwind base;
@tailwind utilities; 
@tailwind components; */

@theme inline {
    --color-bg-blue: var(--bg-blue);
    --color-bg-dark-blue: var(--bg-dark-blue);
    --color-bg-yellow: var(--bg-yellow);
    --color-bg-dark-grey: var(--bg-dark-grey);

    --ff : var(font-family);
}

:root {
    --bg-blue: #79B0E0;
    --bg-dark-blue: #2B49AD;
    --bg-yellow: #FFE18D;
    --bg-dark-grey: #4D4A40;
    --bg-5: #79B0E0;
    --bg-6: #79B0E0;
    --bg-7: #79B0E0;

    font-family: 'Marianne', sans-serif;

}



@font-face {
  font-family: "Marianne";
  src: url("./assets/fonts/marianne/Marianne-ExtraBold.otf") format("otf"),
       url("./assets/fonts/marianne/Marianne-ExtraBold.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}